/* Gruvbox Dark Theme CSS Variables */

/* Backgrounds */
@define-color bg0   #282828;
@define-color bg1   #3c3836;
@define-color bg2   #504945;
@define-color bg3   #665c54;
@define-color bg4   #7c6f64;

/* Foregrounds */
@define-color fg0   #fbf1c7;
@define-color fg1   #ebdbb2;
@define-color fg2   #d5c4a1;
@define-color fg3   #bdae93;
@define-color fg4   #a89984;

/* Bright colors */
@define-color red     #fb4934;
@define-color green   #b8bb26;
@define-color yellow  #fabd2f;
@define-color blue    #83a598;
@define-color purple  #d3869b;
@define-color aqua    #8ec07c;
@define-color orange  #fe8019;
@define-color salmon  #fa8072;  
@define-color peach       #fab387;  /* normal */


/* Dimmed colors */
@define-color red_dim     #cc241d;
@define-color green_dim   #98971a;
@define-color yellow_dim  #d79921;
@define-color blue_dim    #458588;
@define-color purple_dim  #b16286;
@define-color aqua_dim    #689d6a;
@define-color orange_dim  #d65d0e;
@define-color salmon_dim   #cc6a5f; 
@define-color peach_dim   #d7996e;  /* dim */

/* Cursor / selection */
@define-color cursor      #fe8019;
@define-color selection   #504945;

/* Diff / git highlights */
@define-color diff_add    #b8bb26;
@define-color diff_remove #fb4934;
@define-color diff_change #fabd2f;
