@import 'colors/gruvbox.css';

* {
    border: none;
    border-radius: 0px;
    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: normal;
    font-size: 13px;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar{
    background: transparent;
}

tooltip{
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label{
    color: @fg0;
    padding: 6px;
}

#workspaces {
    background-color: @bg0;
    padding: 5px 3px;
    margin: 0 0 0 0px;
    border-radius: 18px;
    border: 1px solid @bg1;
    color: @fg0;
    
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 30px;
    color: transparent;
    background-color: @bg1;
    transition: all 0.1s ease-in-out;
}

#workspaces button.active{
    background-color: @peach;
    color: @bg0;
    min-width: 30px;
    transition: all 0.1s ease-in-out;
    font-size: 13px;
}

#workspaces button.urgent{
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    min-width: 30px;
    background-size: 400% 400%;
    transition: all 0.1s ease-in-out;
}

#workspaces button:hover{
    background: @blue;
    color: @bg0;
    border-radius: 16px;
    min-width: 30px;
    background-size: 400% 400%;
}

#upower,
#bluetooth,
#pulseaudio,
#network,
#clock,
#cpu,
#temperature,
#memory,
#custom-notification{
    background-color: @bg0;
    padding: 0;
    margin: 0 0 0 12px;
    border-radius: 30px;
    border: 1px solid @bg1;
}

#clock{
    color: white;
    padding: 0 20px;
    margin: 0 15px 0 0;
}

#custom-notification{
    color: @fg0;
    padding: 0 10px;
}

#pulseaudio{
    color: @yellow;
    padding: 0 10px;
}

#network{
    color: @purple;
    padding: 0 10px;
}

#upower{
    color: @green;
    padding: 0 10px;
    
}

#bluetooth{
    color: @green;
    padding: 0 10px;
}

#cpu{
    color: @aqua;
    padding: 0 10px;
}

#memory{
    color: @aqua;
    padding: 0 10px;
}

#temperature{
    color: @orange;
    padding: 0 10px;
}

